    :root {
        --biru: rgb(0, 96, 224);
        --hitam: #000005;
        --abu: #1b1b1b;
        --putih: #f8f8f8;
        --abu-muda: #858585;
        --abu-lebih-muda: #cacaca;
        --biru-tua: #00459f;
    }
    body {
        background-color: var(--hitam);
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: transparent;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        gap: 30px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    header .logo {
        width: 100px;
        height: 60px;
        transition: .3s;
        top: -5;
        position: relative;
    }
    header .logo:hover {
        transform: scale(1.07);
    }
    header .dropdown {
        display: flex;
        justify-content: end;
    }
    header .dropdown {
        position: relative;
        top: -8;
        display: inline-block;
    }
    header .dropdown button {
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }
    header .dropdown button:hover {
        color: #0048b3;
        /* Darker shade when hovered */
    }
    /* Dropdown content (hidden by default) */
    header .dropdown-content {
        top: 50;
        right: 20;
        display: none;
        position: absolute;
        background: var(--putih);
        min-width: 160px;
        box-shadow: 0 0 1rem var(--hitam);
        z-index: 99999;
        border-radius: 4px;
    }
    /* Dropdown links */
    header .dropdown-content a {
        color: var(--hitam);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    header .dropdown-content a:hover {
        background-color: var(--abu-lebih-muda);
    }
    /* Show the dropdown menu on button click */
    header .dropdown.show .dropdown-content {
        display: block;
    }
