:root {
    --biru: #0060E0;
    --hitam: #000005;
    --abu: #1b1b1b;
    --putih: #ebebeb;
    --abu-muda: #858585;
  }

  ::-webkit-scrollbar{
    height: .1rem;
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: var(--abu-muda);
}
::-webkit-scrollbar-thumb{
    background-color: var(--biru);
    border: 5rem;
}

  body {
    background-color: var(--hitam);
    color: var(--putih);
    font-family: 'Arial', sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-size: 1rem;
    color: var(--abu-muda);
  }
  h1 span{
    color: var(--putih);
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .user-table th,
  .user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--abu-muda);
  }

  .user-table th {
    background-color: var(--abu);
    color: var(--putih);
  }

  .user-table tr:hover {
    background-color: var(--abu);
  }

  .btn-action {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: var(--putih);
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s;
  }

  .btn-action i {
    margin-right: 6px;
  }

  .btn-action.edit {
    background-color: #f0ad4e;
  }

  .btn-action.delete {
    background-color: #d9534f;
  }

  .btn-action:hover {
    background-color: var(--abu-muda);
    color: var(--biru);
  }
