:root {
    --biru: #0060E0;
    --hitam: #000005;
    --abu: #1b1b1b;
    --putih: #f8f8f8;
    --abu-muda: #858585;
    --biru-tua: #00459f;
    --hijau: #28a745; /* Warna hijau untuk tombol */
  }
  
  body {
    background-color: var(--hitam);
    color: var(--putih);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body .container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--abu);
    border-radius: 8px;
    box-shadow: 0 0 1rem var(--biru);
  }
  
  .container  h1 {
    color: var(--biru);
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .container  .alert-danger {
    background-color: var(--biru-tua);
    border-color: var(--biru-tua);
    color: var(--putih);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .container  .alert-danger ul {
    padding-left: 20px;
  }
  
  .container  .form-label {
    color: var(--putih);
    font-weight: bold;
  }
  
  .container  .form-control {
    background-color: var(--hitam);
    border: 1px solid var(--putih);
    color: var(--putih);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
  }
  
  .container  .form-control:focus {
    border-color: var(--biru);
    box-shadow: 0 0 5px var(--biru);
  }
  
  .container  .btn-success {
    background-color: var(--putih);
    color: var(--biru);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition:  0.3s ease;
  }
  
  .container  .btn-success:hover {
    background-color: var(--biru);
    color: var(--putih);
    box-shadow: 0 0 1rem var(--biru);
  }